@import url(./footer.css);

main{
    display: flex;
    flex-direction: row;
}

.cabecera {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

.titulo {
    font-family: "Roboto Slab", serif;
    font-variant-position: super;
}

.navegar {
    text-align: right;
    background-color: rgb(245 242 238);
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto Slab", serif;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 59px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.nav-list li:hover {
    background-color: #ccc;
}

h1{
text-align: center;
font-size: 30px;
}

select option{
font-size: 16px;
}

.logo {
    height: 59px;
}

.nav-item{
    font-size: 20px;
    padding: 20px;
}

.image{
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 10px;
    width: 90%;
    height: auto;
    max-width: 100%; 
    }

.image img{
    margin: 10px auto;
}

form{
    display: flex;
    flex-direction:column;
    margin: auto;
    width: 700px;
    max-width: 100%;
    box-shadow: 0 0 20px 1px rgba(0,0,0, 0.3);
}

form:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.form-check-inline, .formulario-grupo{
    margin-left: 40px;
}
.form-label{
    display: block;
    width: 100%;
    font-weight: 700;
    padding: 10px;
    cursor: pointer; 
}

.formulario-grupo-input{
    position: relative;  
}

.form-control{
    width: 80%;
    background: #fff;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;

}

.formulario-input-error{
    font-size: 16px;
    color: red;
    margin: 5;
    display: none;
}

.formulario-input-error-active{
    display: block;
}

.formulario-validacion-estado{
    bottom: 15px;
    font-size: 16px;
    opacity: 0;
    position: absolute;
    right: 10px;
    z-index: 100;   

}

.formulario-grupo {
    margin-bottom: 15px; 
}

textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tipoConsulta, .form-select {
    width: 50%;
    height: 50%;
    margin-top: 10px;
}

.formulario-mensaje, .formulario-btn-enviar{
    grid-column: span 2;

}

.formulario-mensaje{
    background: #f66060;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    height: 40px;
    line-height: 0px;
    padding: 0 20px;
    display: none;
    margin-top: 20px;
}
.formulario-mensaje-active{
    display: block;
}

.formulario-btn-enviar{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario-btn{
    background: cadetblue;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 50px;
    transition: .1s ease all;
    width: 30%;
}

.formulario-btn:hover{
    box-shadow: 3px 0 3px rgba(119, 191, 191, 0.46);
}

.formulario-mensaje-enviado{
    font-size: 30px;
    color: #199200;
    display: none;
}

.formulario-mensaje-enviado-active{
    display: block;
}

/*ESTILOS PARA VALIDACION en el div de cada grupo a validar*/

.form-correct .formulario-validacion-estado{
    color: #199200;
    opacity: 1;

}

.form-incorrect .formulario-validacion-estado{
    color:#f66060;
    opacity: 1;
}
.form-incorrect .form-control{
    border: 3px #f66060 solid;
}

@media (max-width: 767px) {
    main{
    display: flex;
    flex-direction: column-reverse;
    }

    header{
        display: flex;
        flex-direction: column;
        max-width: 100%; 
        }
    
        .nav-item{
        font-size: 14px;
        padding: 10px;
        }
        
    .navegar {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: row;
        justify-content: center;
    }

    .nav-list a {
        margin: 0 10px;
    }

    .logo {
        margin: 0 auto 10px;
    }
    .image img{
        max-width: 100%;
    }
    
    footer{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    }

    .list{
        text-align: center;
        margin: auto;
    }

    .medios-de-pago, .envios, .envios-redes{
        text-align: center;
        margin: auto;
        padding: 20px;
    }
}



