
.footer{
    background-color:rgb(255 255 255);
    display: flex;
    margin-block: 54px;
}
.list{
    list-style: none;
}
.medios-de-pago{
    display: flexbox;
    height: 84px;
    margin-inline: 60px;
}
.medio-pago{
    height: 84px;
}
.envios{
margin-inline:60px;

}
.envios img{
height: 60px;
}
.envios-redes img{
    height: 40px;
}