@import url(./footer.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0 auto;
}
.cabecera {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    height: 59px;
    align-self: center;
}

.navegar {
    text-align: right;
    background-color: rgb(245, 242, 238);
    margin: 0;
    padding: 10px;
    border: 0;
    font-family: "Roboto Slab", serif;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.nav-list li:hover {
    background-color: #ccc;
}

.fondo{
    grid-column: span 3;
    width: 100%;
    background-image: url(./img/fondo2.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

.fondo2{
    grid-column: span 3;
    width: 100%;
    background-image: url(./img/fondo3.png);
    background-size: cover;
    margin-bottom: 20px;
} 

h2 {
    text-align: center;
    color: #fff;
    padding: 10px; 
    margin-bottom: 20px; 
}

.oferta {
    text-align: center;
    margin-bottom: 20px;
}

.oferta h1 {
    margin-bottom: 20px;
}

.oferta-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px auto;
}

.oferta-image {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
    margin-left: 50px;
}

.oferta-description {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    text-align: justify;
}

.oferta-image-bottom {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: auto;
    object-fit: contain;
}

.oferta2-image{
    width: 100%;
    height: auto;
    object-fit: cover; 
    margin: 20px auto;
}

@keyframes colorChange {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

.color-change {
    text-align: center;
    animation: colorChange 2s infinite;
}

.highlight {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.Impresoras-section, .Filamentos-section, .Escaneres-section {
    display: grid;   
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%; 
    padding: 0 20px;
}

.card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s;
    width: calc(100% - 40px);
}

.product-image {
    width: 40%; 
    object-fit: contain;
    height: auto;
}

.product-details {
    padding: 10px;
    text-align: left;
    width: 60%; 
}

.card:hover {
    transform: scale(1.05);
}

.price {
    color: grey;
    font-size: 22px;
}

.description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.additional-info {
    margin-top: 15px;
}

.additional-info p {
    font-size: 12px;
    color: #777;
    margin: 5px 0;
}

.add {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.add:hover {
    background-color: #218838;
}

.banner-container {
    width: 100vw; 
    margin: 0;
}

.banner-item {
    width: 100% 
}

.banner {
    width: 100%;
    height: auto;
    object-fit: cover; 
    max-height: 400px;
}

@media (max-width: 1114px){
    .Impresoras-section, .Filamentos-section, .Escaneres-section{
        display: grid;
        grid-template-columns: 2fr;
        }
    
}

@media (max-width: 767px) {
    header{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    }

    .nav-item{
    font-size: 14px;
    padding: 10px;
    }
        
    .navegar {
    flex-direction: column;
    align-items: center;
    }

    .nav-list {
    flex-direction: row;
    justify-content: center;
    }

    .nav-list a {
    margin: 0 10px;
    }

    .logo {
    margin: 0 auto 10px;
    }

    .image img{
    max-width: 100%;
    }
    
    .xie{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .Impresoras-section, .Filamentos-section, .Escaneres-section{
    display: grid;
    grid-template-columns: 1fr;
    }

    footer{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    }
<<<<<<< HEAD

=======
    
>>>>>>> 84bbcc0209b458737f1a07eae30ed3186828a79d
    .oferta-description{
    letter-spacing: 0.5px;
    hyphens: auto;
    }
    
    .list{
    text-align: center;
    margin: auto;
    }

    .medios-de-pago, .envios, .envios-redes{
    text-align: center;
    margin: auto;
    padding: 30px;
    }
}
