@import url(./style.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

.mesa-de-trabajo {
  border-radius: 20px;
  height: 284px;
}
.quienes-somos {
  display: flex;
}
.quienes-somos-text {
  padding-right: 60px;
  padding-left: 60px;
  text-align: -webkit-center;
  font-size: 20px;
}
.nuestra-mision {
  display: flex;
}

@media (max-width: 767px){
  .quienes-somos{
    display: flex;
    flex-direction: column;
  }

  .quienes-somos img{
    padding: 10px; 
    max-width: 90%;
    height: auto;
    margin: auto;
}
  }

   .quienes-somos-text{
    text-align: justify;
    letter-spacing: 0.5px;
    hyphens: auto;
  }

  footer{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    }

    .list{
    text-align: center;
    margin: auto;
    }

    .medios-de-pago, .envios, .envios-redes{
    text-align: center;
    margin: auto;
    padding: 30px;
    }

