
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url(./footer.css);

body {
    background: rgb(245, 242, 238);
    color: rgb(17, 17, 17);
}

/* imagen de cabecera */
.cabecera {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* style del titulo de la pagina h1 */
.titulo {
    font-family: "Roboto Slab", serif;
    font-variant-position: super;
}

.presentacion {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Roboto Slab", serif;
    background-image: url(./img/impresora-main.jpg.webp);
    background-size: cover;
    text-align: justify;
    font-size: 16px;
    padding-left: 10px;
}

.aside {
    background-color: #708b9f57;
    margin-top: 40px;
    display: block;
    float: left;
    width: 284px;
    border: solid 1px rgb(218, 220, 224);
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgb(218, 220, 224);
    padding: 30px;
    list-style: none;
}

.aside h3 {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    background-color: coral;
    align-items: center;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    color: aliceblue;
    text-align: center;
}

.none {
    background-color: rgb(122, 214, 221);
    align-items: center;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    color: aliceblue;
    font-size: xx-large;
}

.queresAprender {
    display: flex;
    margin-block: auto;
}

.comienzos {
    display: flexbox;
}

.tecnologias {
    display: flex;
}

.logo {
    height: 59px;
    align-self: center;
}

.navegar {
    text-align: right;
    background-color: rgb(245, 242, 238);
    margin: 0;
    padding: 10px;
    border: 0;
    font-family: "Roboto Slab", serif;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.servicios {
    list-style: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.nav-list li:hover {
    background-color: #ccc;
}

.protesis {
    position: relative;
    width: 600px;
    height: 570px;
    margin-right: 10px;
}

.presentacion {
    text-align: justify;
}

.marcas-flex{
    display: flex;   
    flex-flow: row wrap; 
    height: auto; 
    justify-content: center;
    max-width: 100%;
    text-align: center; 
}

.marcas-flex .item1{  
    align-content: center; 
    background: whitesmoke; 
    border-radius: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px; 
    overflow: hidden;
    text-decoration: none;
    transition: all .1s ease-in;
}

.titulo {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 40px; 
    padding: 0;
    text-align: center; 
}

.banner-container {
    width: 100vw; 
    margin: 0;
}

.banner-item {
    width: 100% 
}

.banner {
    width: 100%;
    height: auto;
    object-fit: cover; 
    max-height: 200px;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .presentacion {
        flex-direction: column;
        padding-right: 10px;
    }

    .aside {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    header{
        display: flex;
        flex-direction: column;
        max-width: 100%; 
        }
    
        .nav-item{
        font-size: 14px;
        padding: 10px;
        }
        
    .navegar {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: row;
        justify-content: center;
    }

    .nav-list a {
        margin: 0 10px;
    }

    .logo {
        margin: 0 auto 10px;
    }

    iframe {
        padding: 10px; 
        margin: 10px auto;
        width: 100%;
        max-width: 90%;
    }

    .text-container {
        max-width: 100%;
        order: -1;
    }

    .queresAprender {
        flex-direction: column;
    }

    .queresAprender p {
        padding: 10px;
    }

    .tecnologias {
        flex-direction: column;
    }

    .tecnologias p{
        padding: 10px;
        align-items: justify;
    }

    .tecnologias img {
        margin-bottom: 10px;
    }
    .protesis{
        padding: 10px; 
        max-width: 90%;
        height: auto;
        margin: auto;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        max-width: 100%; 
        }
    
        .list{
        text-align: center;
        margin: auto;
        }
    
        .medios-de-pago, .envios, .envios-redes{
        text-align: center;
        margin: auto;
        padding: 30px;
        }
}
  /* Input fields */
input[type=text], input[type=email], input[type=password] {
    width: 80%; /* Adjust the width as needed */
    padding: 8px 16px;
    margin: 8px auto;
    display: block; /* Center the input fields */
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px; /* Smaller font size */
}

/* Set a style for all buttons */
button {
    background-color: black;
    font-size: 16px; /* Smaller font size */
    color: white;
    padding: 10px 16px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 80%; /* Adjust the width as needed */
    display: block; /* Center the buttons */
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: 90%;
    padding: 10px 18px;
    background-color: #f44336;
    margin: 8px auto; /* Center the cancel button */
    display: block;
}
.entrarbtn {
    width: 180px;
    padding: 8px 16px;
    background-color: coral;
    margin: 8px auto; /* Center the cancel button */
    display: block;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

label {
    font-size: 16px; /* Smaller font size */
}

span.psw {
    float: right;
    padding-top: 16px;
    margin: 0 50px 0 50px;
}

/* The Modal (background) */
.modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(176, 231, 233);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    font-size: 16px; /* Smaller font size */
    border: 2px solid black;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

  .modal-column {
    padding: auto;
    margin: 20px;
    width: 45%; /* Ancho de las columnas dentro del modal */
    float: left;
    margin-right: 5%;
  }

  .modal-column:last-child {
    margin-right: 0;
  }

  .modal-column h2 {
    text-align: center;
  }

  .modal-column input[type="text"],
  .modal-column input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .modal-column button[type="submit"] {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    padding: 10px 20px; /* Padding interior */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntando */
    margin-top: 10px; /* Margen superior */
    width: 90%;
  }

  .modal-column button[type="submit"]:hover {
    background-color: #45a049; /* Al pasar el mouse, color de fondo más oscuro */
  }

  .modal-container {
    overflow: hidden;
    clear: both;
  }

  .modal-container .container {
    margin-bottom: 10px;
  }